@{
	import (
		m "1bwiki/model"

		"1bwiki/tmpl/layout/base"
		"1bwiki/tmpl/helper"
	)
	var u *m.User
	var pgs []*m.PageView
}

@section title {
	return "Pages"
}

@section user {
	@helper.User(u)
}

@raw(Nav("/special/pages"))

<div class="ui text container">
	<h1>Pages</h1>

	@for _, v := range pgs {
		@if !v.Deleted {
			<span>
				<a href="/@v.Title">@v.NiceTitle</a><br>
			</span>
		}
	}
</div>