@{
	import (
		m "1bwiki/model"

		"1bwiki/tmpl/layout/base"
		"1bwiki/tmpl/helper"
	)
	var u *m.User
}

@section title {
	return "Preferences"
}

@section user {
	@helper.User(u)
}

<h1>Basic Information</h1>
Username: @u.Name
