@{
	import (
		m "1bwiki/model"

		"1bwiki/tmpl/layout/base"
		"1bwiki/tmpl/helper"
	)
	var u *m.User
	var users []*m.User
}

@section title {
	return "Users"
}

@section user {
	@helper.User(u)
}

@raw(Nav("/special/users"))

<div class="ui text container">
	<h1>Users</h1>

	@for _, u := range users {
		<span>
			@u.Name</a><br>
		</span>
	}
</div>