@{
	var niceTitle string
}
<div class="ui tabular menu">
	<a class="item active" href="/@niceTitle">
		Article
	</a>
	<a class="item" href="/Talk:@niceTitle">
		Talk
	</a>
	<a class="item" href="/special/edit?title=@niceTitle">
		Edit
	</a>
	<a class="item" href="/special/history?title=@niceTitle">
		History
	</a>
</div>