@{
	import (
		m "1bwiki/model"

		"1bwiki/tmpl/layout/base"
		"1bwiki/tmpl/helper"
	)
	var u *m.User
	var pv *m.PageView
}

@section title {
	return pv.NiceTitle
}

@section user {
	@helper.User(u)
}

@raw(Nav(pv.Title, "article"))

<div class="ui text container">
	<div class="ui orange message">
		<p>This is an old version of the page. This paragraph could use more information</p>
	</div>
</div>

<div class="ui text container">
	@raw(pv.Html())
</div>