@{
	import (
		"1bwiki/tmpl/layout/base"
		m "1bwiki/model"
	)
	var pv *m.PageView
}

<h1>@pv.NiceTitle</h1>
<a href="/special/edit?title=@pv.Title">Edit</a> <a href="/special/history?title=@pv.Title">History</a>
<br><br>

@raw(pv.Html())