@{
	import (
		"1bwiki/tmpl/layout/base"
	)
	var title string
	var niceTitle string
	var text string
}

<h1>@niceTitle</h1>
<a href="/special/action?title=@title&action=edit">Edit</a> <a href="/special/action?title=@title&action=history">History</a>
<br><br>

@raw(text)