@{
	import (
		"1bwiki/tmpl/layout/base"
	)
	var title string
	var niceTitle string
	var text string
}

<h1>@niceTitle</h1>
<a href="/special/edit?title=@title">Edit</a> <a href="/special/history?title=@title">History</a>
<br><br>

@raw(text)