.emoji {
	width: 1em;
	height: 1em;
	vertical-align: baseline;
}

.cm-quote { color: #90a959; font-style: italic; }

pre, code{
      color: #000;
      font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 0.94em; /* 0.94 = 0.88 + (1.00 - 0.88) / 2 */
      border-radius:3px;
      background-color: #F8F8F8;
      border: 1px solid #CCC;
    }
    pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 5px;}
    pre code { border: 0px !important; background: transparent !important; line-height: 1.3em; }
    code { padding: 0 3px 0 3px; }

.minus {
  color: #8b0000;
}

.plus {
  color: #006400;
}

.minoredit {
  font-weight: bold;
}

.ui.tabs.container {
  margin-top: 15px;
}

.ui.tabs.container .ui.menu {
  border-bottom: none;
}

.ui.tabs.divider {
  margin-top: 0;
  margin-bottom: 15px;
}

.editBar {
  padding-bottom: 15px;
}

footer {
  margin-top: 54px;
  width: 100%;
  flex: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1 0 auto;
}

td.label {
  padding-right: 1em;
  text-align: right;
}

tr {
  line-height: 1.6;
}